#home {
  padding-top: 50px;
  height: 800px;
  background-image: url(http://i.imgur.com/YzxF5iP.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

#about {
  position: relative;
  padding-top: 50px;
  margin-top: -50px;
}

#projects {
  position: relative;
  overflow: auto;
  padding-top: 50px;
  margin-top: -50px;
}

#contact {
  position: relative;
  overflow: auto;
  padding-top: 50px;
  margin-top: -50px;
  padding-bottom: 25px;
}

.para-prop {
  font-family: Bad Script;
}

.head-prop {
  font-family: Lobster;
}

.well-prop {
  font-family: Open Sans Condensed;
  font-size: 24px;
  font-weight: bold;
}

.panel-prop {
  font-family: Open Sans Condensed;
  font-size: 18px;
}

.jumbotron-0 {
  font-family: Lobster;
  font-size: 80px;
  padding-top: 100px;
  color: #696969;
}

.jumbotron-1 {
  background-color: #A9A9A9;
  color: white;
}

.jumbotron-2 {
  background-color: #B5B861;
  color: white;
}

.jumbotron-3 {
  background-color: #06524D;
  color: white;
}

.jumbotron-4 {
  background-color: #938172;
  color: white;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.navbar-nav li a:hover {
  color: #777 !important;
  text-decoration: line-through;
}
